<%- include("partials/_header"); %>

    <div class="mainpage-bg"></div>
    <div class="form-field">
        <p>REGISTRATION FORM</p>
        <!--
      <input type="name" name="MERGE0" autocapitalize="off" autocorrect="off" class="cta__form__input"
        placeholder="👋 Name" required="">
      <input type="surname" name="MERGE0" autocapitalize="off" autocorrect="off" class="cta__form__input"
        placeholder="👋 Surname" required="">
      -->
        <div class="name-surname">
            <input type="name" name="MERGE0" autocapitalize="off" autocorrect="off" placeholder="First Name"
                required="" />
            <input type="username" name="MERGE0" autocapitalize="off" autocorrect="off" placeholder="Last Name"
                required="" />
        </div>
        <input type="email" name="MERGE0" autocapitalize="off" autocorrect="off" class="cta__form__input"
            placeholder="👋 Email Address" required="">
        <input type="username" name="MERGE0" autocapitalize="off" autocorrect="off" class="cta__form__input"
            placeholder="Create username" required="">
        <input type="password" name="MERGE0" autocapitalize="off" autocorrect="off" class="cta__form__input"
            placeholder="Create password" required="">
        <!--<div class="pasw">Password must be at least 8 characters long.</div> -->
        <div class="signup">
            <button type="button" class="button button--primary" aria-label="Sign Up">Sign Up</button>
        </div>
        <div class="sign-in">
            <span>Already a member?</span>&nbsp
            <a href="#">Sign In</a>
        </div>
    </div>
    <%- include("partials/_footer"); %>